{%load bootstrap4%}
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {%if title%}
    <title>Instagram-{{title}}</Instagram-></title>
    {%else%}
        <title>Instagram</title>
    {%endif%}

    {% block styles %}
        {% bootstrap_css %}
    {% endblock %}


</head>
<body>
    <body>
       
    
        {%block content%}
        {%include 'navbar.html' %}
    
        {%endblock%}
    
        
        {% block scripts %}
        <!-- <script src="{% static 'js/script.js' %}"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        {% endblock %}
    
    
</body>
</html>