{% extends 'base.html' %}
{%block content%}
{{ block.super}}
<div>
  <h1>Instagram</h1>
  
  <div class="container">
    {%for new_post in posts %}
    <div class="row">
      <div class="col-md-8">
        <img width="50px" height="50px" style="border-radius: 50%;" class="img img-circle" src="{{new_post.avatar}}" alt="{{new_post.author}}" srcset="">
        {{new_post.author}}
        <h3>{{new_post.name}}</h3>
        <img src="{{new_post.image}}" class="img-responsive" alt="image1" width="300px">
        <p>{{new_post.caption}}</p>
      </div>
    </div>
    {% endfor %}
    

  </div>
</div>
{%endblock%}